body{
    font-family: "Trebuchet MS", "Lucida Sans";
    margin: 5px;
}

.dataBlock{
    height: 100%;
    width: 295px;
    padding: 10px;
}

.dataBlock blockquote{
    color: #7f7f7f;
    font-family: "Trebuchet MS", "Lucida Sans";
    font-weight: 700;
    font-size: 13px;
    margin-left: 0px;
}




.border{
    list-style: none;
    padding: 0;
}

.border li{
    font-family: "Trebuchet MS", "Lucida Sans";
    padding: 4px 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 10px solid #f05d22; 
    box-shadow: 2px -2px 5px 0 rgba(0,0,0,.1),
               -2px -2px 5px 0 rgba(0,0,0,.1),
                2px 2px 5px 0 rgba(0,0,0,.1),
               -2px 2px 5px 0 rgba(0,0,0,.1);
    font-size: 12px;
    transition: 0.3s all linear;
    white-space: nowrap;
    overflow: hidden;
    height: 14px;
    text-overflow: ellipsis;
}

.border li:nth-child(odd){border-color: #8bc63e;}
.border li:nth-child(even){border-color: #fcba30;}
.border li:hover {border-left: 10px solid transparent;}
.border li:nth-child(odd):hover {border-right: 10px solid #f05d22;}
.border li:nth-child(even):hover {border-right: 10px solid #8bc63e;}

.border li:hover{
    cursor: pointer;
}